:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.route-container {
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./assets/hero.jpg') no-repeat center center/cover;
  height: 100vh;
}

.always-on-top {
  position: fixed;
  z-index: 100;
}

.react-rotating-text-cursor {
  animation: 1s cubic-bezier(.36,.07,.19,.97) both infinite blinking-cursor;
}

@keyframes blinking-cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid #f1f1f1;
  border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}